@import './constants.css';

.leaderboard-container {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
}

.rank {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.own-rank { 
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-around;
}

.own-rank h3 {
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 300;
}

.own-rank h2 {
    font-family: var(--font-family);
    font-weight: 500;
}

.filter-button { 
    grid-area: 1 / 5 / 2 / 6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.filter-button img {
    width: 40px;
    height: 40px;
}

.filter-button button {
    height: 50px;
    background-color: transparent;
    border: 0px;
}

.filter-button button:hover {
    cursor: pointer;
}

.rankings { 
    grid-area: 2 / 3 / 6 / 6;
}

.rankings ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-family: var(--font-mono);
	list-style-type: none;
}

.rankNum { 
    grid-area: 1 / 1 / 2 / 2; 
}
.rankName { 
    grid-area: 1 / 2 / 2 / 4; 
}
.rankPoints { 
    grid-area: 1 / 4 / 2 / 5; 
}